html, body {
	 margin:0;
	 padding:0;
	 height: 100%;
}

body {
	background-color: #FFFFFF;
}

#banniere {
	width: 100%;
	height: 150px;
	background-color: green;
}

#menu {
	width: 100%;
	height: 50px;
	background-color: orange;
}

#contenu {
	width: 100%;
	height: 800px;
	background-color: #FFFFFF;
	margin-left: 10%;
}

#piedPage {
	background-color: red;
	width: 100%;
	height: 100px;
}
